* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
input {
  border: none;
  outline: none;
}
body {
  background-color: #252323;
  margin: 0 auto;
  max-width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 10px;
  font-weight: 600;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
#root {
  max-width: 600px;
  margin: 0 auto;
}
button {
  background-color: transparent;
  border: none;
}

.icon-btn {
  height: 50px;
  width: 50px;
  transition: all 0.1s ease;
  border-radius: 50%;
}
.icon-btn img {
  width: 100%;
  height: 100%;
}
.icon-btn:hover {
  background-color: #141414;
}
